<footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-flex align-items-center">
                              <h1 class="logo d-flex align-items-center justify-content-between"><span class="logo-shape"></span>Rosas Ventures LLC</h1>
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>At Rosas Venture´s LLC, we're committed to earning your trust by providing the highest quality car repair services at a fair price.</p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-google"></i></a>
                        </div>

                        <br>
                        <div class="footer-text">
                            <p>We accept the following payment methods for your convenience</p>
                        </div>
                        <div class="footer-container">
                            <div class="footer-icons">
                              <img src="../../../assets/images/visa_icon.png" alt="">
                              <img src="../../../assets/images/american-express-icon.png" alt="">
                              <img src="../../../assets/images/master_card_icon.png" alt="">
                              <img src="../../../assets/images/zelle_logo_icon.png" alt="">
                              <img src="../../../assets/images/square.png" alt="">
                            </div>
                        </div>                          
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading">
                        <h3>Useful Links</h3>
                    </div>
                    <ul>
                        <li><a href="index.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                        <li><a href="about.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Services</a></li>
                        <li><a href="projects.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Portfolio</a></li>
                        <li><a href="contact.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contact</a></li>
                        <li><a href="team.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Team</a></li>
                        <li><a href="testimonials.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Reviews</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Partners</a></li>
                        <li><a href="faq.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>FAQs</a></li>
                        <li><a href="blogs.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our News</a></li>
                        <li><a href="team.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Team</a></li>
                        <li><a href="contact.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contact us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Contact:</h3>
                        </div>
                        <div class="contact-info">
                          <h6>Address:</h6>
                          <p><i class="fa fa-map"></i>Germantown Maryland, United States</p>
                          <!-- Change  'Wall%20Street,%20NYC' with your own business name -->
                          <p><a href="https://maps.app.goo.gl/abioKGEBNpU5hpvh6" target="_blank">Get Directions</a></p>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2186.7242804031694!2d-77.23691885438053!3d39.186196702567635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b62c8674afce41%3A0xa97b7549958406cd!2s11353%20Halethorpe%20Terrace%2C%20Germantown%2C%20MD%2020876%2C%20EE.%20UU.!5e0!3m2!1ses!2sco!4v1698760377291!5m2!1ses!2sco" width="300" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="contact-info">
                          <h6>Phone:</h6>
                          <p><i class="fa fa-phone"></i> +1 (240)-277-8826</p>
                        </div>
                        <div class="contact-info">
                          <h6>Email:</h6>
                          <p><i class="fa fa-envelope"></i> rosasventuresllctest@gmail.com</p>
                          <!-- <p><i class="fa fa-envelope"></i> email@example.com</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 mb-50">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>Sebastian Patiño © 2023 - Designed by Sebastian Patiño.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="footer-menu text-right">
                        <ul>
                            <li><a href="page.html">Terms &amp; Conditions</a></li>
                            <li><a href="page.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>