<section id="services" class="theme-repair-services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title">
                    <h2>AUTO REPAIR SERVICES</h2>
                    <h5>We offer a wide range of services to help you get back on the road quickly and safely.</h5>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/oil.svg" alt="image">
                    <h5>OIL CHANGES</h5>
                    <p>Regular oil and filter changes help your engine run smoothly and efficiently.</p>
                </div>
            </div>
            <!-- single service -->

            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/brakes.svg" alt="image">
                    <h5>ABS BRAKES</h5>
                    <p>Brake maintenance is essential for safe vehicle operation and longevity.</p>
                </div>
            </div>
            <!-- single service -->

            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/transmission.svg" alt="image">
                    <h5>TRANSMISSION SERVICE</h5>
                    <p>A well-maintained transmission can extend your vehicle's life and save money.</p>
                </div>
            </div>
            <!-- single service -->

            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/tire.svg" alt="image">
                    <h5>TIRES &amp; WHEELS</h5>
                    <p>Regular tire inspections and service can prevent accidents and save you money.</p>
                </div>
            </div>
            <!-- single service -->

            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/carwash.svg" alt="image">
                    <h5>WASH AND CLEAN</h5>
                    <p>Keeping your car clean, washing regularly can improve gas mileage, extend paint life.</p>
                </div>
            </div>
            <!-- single service -->

            <!-- single service -->
            <div class="col-lg-4 col-md-4 col-sm-12 wow kar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                <div class="kar-theme-single-service-card">
                    <img src="../../../../../assets/images/engine.svg" alt="image">
                    <h5>ENGINE PERFORMANCE</h5>
                    <p>A well-tuned engine delivers optimal performance and fuel efficiency.</p>
                </div>
            </div>
            <!-- single service -->
        </div>
    </div>
</section>