
<header id="slider-home" class="slider slider-prlx bg-b">
    <div class="swiper-container parallax-slider">
      <div class="swiper-wrapper">
        <ng-container *ngFor="let slide of slides">
          <div class="swiper-slide" [style.width.px]="slideWidth">
            <div class="bg-img valign " [style.backgroundImage]="'url(' + slide.image + ')'" [attr.data-swiper-parallax]="slide.parallax" [style.transitionDuration.ms]="slide.transitionDuration">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="caption color-text text-center">
                      <img src="../../../../../assets/images/icono-1-principal-blanco.png" class="white-logo logo" alt="logo">
                      <h2 class="color-text">{{slide.banner}}</h2>
                      <h1 class="title-principal">{{ slide.title }}</h1>
                      <h3 class="color-text">{{ slide.subtitle }}</h3>
                      <p style="max-width: 700px; margin: 0 auto;">{{ slide.description }}</p>
                      <h3 class="color-text">Phone: {{phoneNumber}}</h3>
                      <div class="home-button-box home-slider-btn">
                        <a href="tel:+12402778826" class="button home-btn js-scroll"> <i class="fa-solid fa-phone"></i> Send message here.</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-bullets-dynamic" [style.width.px]="paginationWidth"></div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </header>